@using CoreBusiness
@using Microsoft.AspNetCore.Components

@if (inventory != null)
{
    <tr>
        <td>@inventory.InventoryId</td>
        <td>@inventory.InventoryName</td>
        <td>@inventory.Quantity</td>
        <td>@inventory.Price</td>
        <td>
            <button type="button" class="btn btn-light">Edit
            </button>
        </td>
    </tr>
}


@code {
    [Parameter]
    public Inventory? inventory { get; set; }


}