@using CoreBusiness
@using Microsoft.AspNetCore.Components
@using UsesCases.Inventories
@using UsesCases.Inventories.interfaces


@inject IDeleteInventoryUseCase DeleteInventoryUseCase
@inject NavigationManager NavigationManager

@if (inventory != null)
{
    <tr>
        <td>@inventory.InventoryId</td>
        <td>@inventory.InventoryName</td>
        <td>@inventory.Quantity</td>
        <td>@inventory.Price</td>
        <td>
            @* <button type="button" class="btn btn-light" href="/editinventory">Edit
            </button> *@
            <a href="/editinventory/@inventory.InventoryId" class="btn btn-info">Edit</a>
            <button type="button" class="btn btn-danger"
                @onclick="() => DeleteInventory(inventory.InventoryId)">Delete</button>
        </td>
    </tr>
}


@code {
    [Parameter]
    public Inventory? inventory { get; set; }
    private async Task DeleteInventory(int inventoryId)
    {
        await DeleteInventoryUseCase.Execute(inventoryId);
        NavigationManager.Refresh();

    }

}