@page "/editproduct/{prodId:int}"
@using CoreBusiness
@using UsesCases.Inventories.interfaces
@using UsesCases.Products.interfaces

@inject IEditProductUseCase EditProductUseCase;
@inject IGetProductUseCase GetProductUseCase;
@inject NavigationManager NavigationManager;


<h3>Edit Product</h3>
@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm FormName="EditProductForm" Model="product" OnValidSubmit="Edit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="Name">Name</label>
            <InputText id="Name" class="form-control" @bind-Value="product.Name" />
        </div>
        <div class="form-group">
            <label for="Quantity">Quantity</label>
            <InputNumber id="Quantity" class="form-control" @bind-Value="product.Quantity" />
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <InputNumber id="Price" class="form-control" @bind-Value="product.Price" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/products" class="btn btn-secondary">Cancel</a>

    </EditForm>
}

@code {


    [Parameter]
    public int prodId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        product ??= await GetProductUseCase.Execute(prodId);
    }
    [SupplyParameterFromForm]
    private Product? product { get; set; }

    async void Edit()
    {
        // Call the API to update the inventory
        if (product != null)
        {
            await EditProductUseCase.Execute(product);
            NavigationManager.NavigateTo("/products");
        }
    }

}
